html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: beige;
}

header{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkolivegreen;
}

header>h3{
    color: khaki;
}

#addNewButton{
    background-color: khaki;
    border: none;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: brown;
}

#addNewButton:hover{
    background-color: rgb(189, 179, 80) ;
}

dialog{
    border: 4px solid rgb(113, 26, 26);
    background-color: rgb(232, 227, 174);
}

#add, 
.read-button,
.remove{
    background-color: darkolivegreen;
    margin-top: 15px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: khaki;
}

#add:hover,
.read-button:hover,
.remove:hover{
    background-color: rgb(52, 72, 18);
}

main{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: beige;
    height: 70%;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.book-card{
    border: 4px solid rgb(113, 26, 26);
    padding: 10px;
    background-color: rgb(195, 188, 124);
}
